In [1]:
import pandas as pd

In [4]:
file_path = "../data.csv"
city_df = pd.read_csv(file_path)
city_df.head(5)

                crime  year     long      lat          city neighborhood
0              Thefts  2015 -75.1664  39.9401  Philadelphia            .
1              Thefts  2015 -75.1602  39.9761  Philadelphia            .
2              Thefts  2015 -75.1631  39.9779  Philadelphia            .
3              Thefts  2015 -75.0756  40.0413  Philadelphia            .
4  Disorderly Conduct  2015 -75.1221  39.9909  Philadelphia            .

In [5]:
la_data = city_df[city_df["city"].str.contains("Los Angeles")]

In [13]:
la_data["year"].unique()

array([2013, 2010, 2014, 2015, 2011, 2012, 2016])

In [15]:
la_data.dtypes

crime           object
year             int64
long            object
lat             object
city            object
neighborhood    object
dtype: object

In [17]:
la_2010 = la_data.loc[la_data['year'] == 2010]
la_2011 = la_data.loc[la_data['year'] == 2011]
la_2012 = la_data.loc[la_data['year'] == 2012]
la_2013 = la_data.loc[la_data['year'] == 2013]
la_2014 = la_data.loc[la_data['year'] == 2014]
la_2015 = la_data.loc[la_data['year'] == 2015]
la_2016 = la_data.loc[la_data['year'] == 2016]

In [19]:
la_2010.to_csv("la_data/la_2010.csv", index=False)
la_2011.to_csv("la_data/la_2011.csv", index=False)
la_2012.to_csv("la_data/la_2012.csv", index=False)
la_2013.to_csv("la_data/la_2013.csv", index=False)
la_2014.to_csv("la_data/la_2014.csv", index=False)
la_2015.to_csv("la_data/la_2015.csv", index=False)
la_2016.to_csv("la_data/la_2016.csv", index=False)